<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.formulas_glance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FormulasGlance" android:label="FORMULAS GLANCE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AreaActivity" android:label="AREA FORMULAS">
        </activity>

        <activity android:name=".CalculusActivity" android:label="CALCULUS FORMULAS">
        </activity>

        <activity android:name=".TwoDimensionActivity" android:label="TWO DIMENSION OBJECTS">
        </activity>


        <activity android:name=".ThreeDimensionActivity" android:label="THREE DIMENSION OBJECTS">
        </activity>


        <activity android:name=".Differentiation" android:label="DIFFERENTIATION">
        </activity>


        <activity android:name=".Integration" android:label="INTEGRATION">
        </activity>


    </application>

</manifest>